@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #f8f9fa;
  color: #000;
  min-height: 100vh;
}

.tooltip::after,
.tooltip::before {
  background: #1c1c1c;
  color: #fff;
  text-wrap: wrap;
  word-break: break-all;
  font-size: 12px;
  font-weight: 400;
}

.shadow-full-match {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  /* padding: 30px 0; */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 30px;
}

/* INPUT SELECT */
select {
  appearance: none;
  -webkit-appearance: none;
  background: #fff
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23000' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 1rem center/.5rem 0.63rem;
}

select.select-sm {
  background: #fff
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23000' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.5rem center/.5rem 0.63rem;
}

/* EXTENDS */
.decoration-none {
  text-decoration: none !important;
}

/* TABLE */
.table :where(thead, tbody) :where(tr:not(:last-child)),
.table :where(thead, tbody) :where(tr:first-child:last-child) {
  border-color: rgba(243, 244, 246, 1);
}

/* CHECKBOX */
.checkbox:checked,
.checkbox[checked="true"],
.checkbox[aria-checked="true"] {
  background-image: linear-gradient(
      -45deg,
      transparent 65%,
      var(--chkbg) 65.99%
    ),
    linear-gradient(45deg, transparent 75%, var(--chkbg) 75.99%),
    linear-gradient(-45deg, var(--chkbg) 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      var(--chkbg) 30%,
      #fff 30.99%,
      #fff 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, #fff 50%, var(--chkbg) 50.99%);
}

/* PROFILE NAVIGATION */
.profile-menu-item {
  @apply relative border-b last:border-b-0 border-gray-100 z-10;
}

.profile-menu-item.active {
  @apply before:absolute before:left-0 before:top-0 before:w-full before:h-full before:bg-primary-gradient before:-z-10 before:transition before:duration-300;
}

.profile-menu-item .profile-menu-link {
  @apply flex items-center gap-1 text-sm px-4 py-3 text-white transition duration-200;
}

.profile-menu-item:not(.active) .profile-menu-link {
  @apply flex items-center gap-1 text-sm px-4 py-3 text-black hover:text-primary transition duration-200
}

/* CONFIGURATION */
.tabs-bordered > .tab {
  @apply border-gray-100 font-semibold text-black transition-all duration-300 outline-none
}

.tab.tab-active:not(.tab-disabled):not([disabled]), .tab:is(input:checked) {
  @apply border-primary text-primary
}

.alert-secondary {
  @apply bg-light border-light rounded-md text-sm text-black flex items-center justify-center gap-2 py-3
}